body {
  background: #222;
  font-family: "Roadgeek 2005 Series C", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fafafa;
  font-size: 20px;
  line-height: 1.2; /* 24 px */
}

.wrapper {
  padding: 5px 0;
  height: 240px;
}