.wrapper > div {
  text-align: center;
}

.label,
.label span {
  color: rgb(100, 112, 118);
  text-transform: uppercase;
  font-size: 1em;
}

.label em {
  color: #fafafa;
  font-style: normal;
}

#leave-time {
  text-transform: none;
}

#departure-time {
  font-size: 4em;
}

#error {
  padding: 6.75rem 0;
}
