@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-bicycle2:before {
	content: "\e000";
}
.flaticon-bike7:before {
	content: "\e001";
}
.flaticon-black141:before {
	content: "\e002";
}
.flaticon-car80:before {
	content: "\e003";
}
.flaticon-passenger2:before {
	content: "\e004";
}
.flaticon-train20:before {
	content: "\e005";
}
.flaticon-tram2:before {
	content: "\e006";
}
